.circular-text {
  margin: 0 auto;
  border-radius: 50%;
  width: 150px;
  position: relative;
  height: 150px;
  font-weight: bold;
  color: var(--secondary-color);
  font-weight: 900;
  text-align: center;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}

.circular-text span {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 20px;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}

@media (max-width: 870px) {
  .circular-text {
    position: absolute;
    top: 0px;
    left: -47px;
  }
}

@media (max-width: 1024px) {
  .circular-text {
    position: absolute;
    top: 0px;
    left: -32px;
  }
}

@media (max-width: 768px) {
  .circular-text {
    display: none;
  }
}
